@model WebApplication.Web.Models.FlashCards.CardModel
@{
    ViewData["Title"] = "MakeCard";
}

<section class="maincontent">

    <form asp-controller="home" asp-action="MakeCard" method="post" asp-route-deckId="@Model.deckId" asp-route-cardId="@Model.id" class="card-maker">
        <label asp-for="front" id="front-card-label">Front:</label>
        <textarea asp-for="front" value="@Model.front" id="front-card" data-limit-rows="true" cols="25" rows="4" maxlength="200"></textarea>
        <span asp-validation-for="front" class="validation-error"></span>

        <label asp-for="back" id="back-card-label">Back:</label>
        <textarea asp-for="back" value="@Model.back" id="back-card" data-limit-rows="true" cols="25" rows="4" maxlength="200"></textarea>
        <span asp-validation-for="back" class="validation-error"></span>

        <label asp-for="keywords" id="keyword-card-label">Keywords:</label>
        <input asp-for="keywords" value="@Model.keywords" id="keyword-card" />

        <input asp-for="deckId" type="hidden" />
        <input asp-for="id" type="hidden" />

        <button type="submit" class="btn btn-primary" id="submit">Save Card</button>
        <a href='~/Home/ViewCards/@Model.deckId' type="submit" class="btn btn-success" id="finish">View Cards</a>
    </form>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/textLock.js"></script>
</section>